.product_class {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  background-color: white;
  align-items: center;
  width: 100%;
  padding: 20px;
  z-index: 1;
  justify-content: flex-end;
  object-fit: contain;
}
.rating_product {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.product_pic {
  padding: 10px;
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product_info {
  height: 100px;
  margin-bottom: 15px;
}
.product_price {
  margin-top: 5px;
}
.product_basket {
  margin-top: 10px;
  border-radius: 2px;
  widows: 100%;
  height: 30px;
  margin-top: 10px;
  border-color: rgba(185, 62, 14, 0.856);
  background: #f0c14b;
  color: black;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}
